langchain===0.1.12
langchain_community===0.0.28
langchain_core===0.1.32
langchain_openai===0.0.8
python-dotenv===1.0.1
streamlit===1.32.2
#if you have python 3.10 or higher, then uncomment this and replace FAISS with Chroma in the code 
# chromadb
beautifulsoup4===4.12.3
faiss-cpu